$wrapper-padding: 1rem;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: $wrapper-padding;
  height: calc(100% - #{$wrapper-padding} * 2);
}

.container {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: calc(#{$wrapper-padding} * 2);
}

.input {
  input {
    position: relative;
    width: 80%;
    height: 2rem;
  }

  position: absolute;
  bottom: $wrapper-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - #{$wrapper-padding} * 2);
}

.message {
  position: relative;
  margin: calc(#{$wrapper-padding} / 2);
  padding: $wrapper-padding;
  border-radius: 5px;
  max-width: 80%;
}
