@import '../Main';

.wrapper {
  position: fixed;
  overflow: hidden;
  z-index: 12;
  width: 100%;
  width: $wrapper-width;
  height: $wrapper-height;
  top: 0;
  left: calc(#{$wrapper-width} * 2);
  transition: left $container-transition ease-in;

  &.open {
    left: calc(100vw - $wrapper-width);
    transition: left $container-transition ease-out;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: $container-max-width;
}

.users {
  position: relative;
  width: 20%;
  height: 100%;
}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  height: 100%;
}
