@import '../Main';

.wrapper {
  position: fixed;
  overflow: hidden;
  z-index: 12;
  width: $wrapper-width;
  height: $wrapper-height;
  top: 0;
  left: calc(#{$wrapper-width} * 2);
  transition: left $container-transition ease-in;

  &.open {
    left: calc(100vw - $wrapper-width);
    transition: left $container-transition ease-out;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.block {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: $container-max-width;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.users {
  position: relative;
  flex-basis: 20%;
  height: 100%;
  @media (max-width: $mobile-width) {
    display: none;
  }
}

$user-item-padding: 1rem;

.users__item {
  padding: 0 $user-item-padding;
  position: relative;
  width: calc(100% - #{$user-item-padding});
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6;
}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 20%;
  height: 100%;

  &.open {
    z-index: 105;
    position: fixed;
    right: 0;
    border-radius: 6px;
    align-items: flex-start;
    border: 2px solid cyan;

    @media (max-width: $mobile-width) {
      width: 200px;
      height: 100px;
    }
  }
  @media (max-width: $mobile-width) {
    width: 0;
    height: 0;
  }
}

.settings__button {
  z-index: 106;
  position: fixed;
  right: 0;
  @media (min-width: $mobile-width) {
    display: none;
  }
}
