/******************************************************************************************
 * Repository: https://github.com/kolserdav/uyem.git
 * File name: Hall.module.scss
 * Author: Sergey Kolmiller
 * Email: <uyem.ru@gmail.com>
 * License: BSD-2-Clause
 * License text: Binary distributions of this software include 'wrtc' and other third-party libraries.
 * Copyright: kolserdav, All rights reserved (c)
 * Create Date: Tue Jun 21 2022 08:49:55 GMT+0700 (Krasnoyarsk Standard Time)
 ******************************************************************************************/
@import '../Main';

.wrapper {
  position: fixed;
  overflow: hidden;
  z-index: 12;
  width: 100%;
  width: $wrapper-width;
  height: $wrapper-height;
  top: 0;
  left: calc(#{$wrapper-width} * 2);
  transition: left $container-transition ease-in;

  &.open {
    left: calc(100vw - $wrapper-width);
    transition: left $container-transition ease-out;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  max-width: $container-max-width;
}
