@import '../Main';

.wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 0;
}

.room__link {
  margin: 0.5rem;
  font-size: x-small;
}

.muted {
  position: absolute;
  z-index: 12;
}

.container {
  position: relative;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-gap: 0;
  overflow: hidden;
}

.video {
  video {
    cursor: pointer;

    &.speaker {
      border: 2px solid red;
    }
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
  transition: width 0.3s ease-in;
  margin: auto;
}

.video__fixed {
  video {
    cursor: default;
  }

  z-index: 12;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 95%);
}

.video__actions {
  position: absolute;
  top: 0;
  right: 0;
}

.video__volume__input {
  transform: rotate(-90deg);
}

.actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  width: 100%;
  background-image: rgba($color: gray, $alpha: 5%);
}

.error {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
}

.link__input {
  position: relative;
  height: 2rem;
  width: 100%;
}

.link__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
}
