@import '../Main';

$border-width: 2px;
$settings-item-padding: 1rem;
$padding-settings: 2.5rem;

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: calc(20% + #{$settings-item-padding} * 2);
  margin-left: $settings-item-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: $mobile-width) {
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    min-width: 100vw;
    transition: all 0.3s ease-in;
    margin-left: 0;

    &.open {
      z-index: 105;
      height: 100vh;
      transition: all 0.3s ease-out;
      padding: 0 $padding-settings;
    }
  }

  .item {
    position: relative;
    width: 100%;
    display: flex;
    padding: $settings-item-padding;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $mobile-width) {
      padding-top: 10%;
      padding-left: 0;
    }

    .item__title {
      text-align: center;
    }

    .item__actions {
      position: relative;
      display: block;
      margin-right: $settings-item-padding;

      .record {
        display: flex;
        align-items: center;
      }

      .time {
        position: relative;
        display: flex;
        align-items: flex-end;
      }
    }

    .item__row {
      display: flex;
      flex-direction: row;
      width: calc(100% - #{$padding-settings});
      justify-content: space-between;
      align-items: center;
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      flex-wrap: nowrap;
    }
  }
}

.videos {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    word-break: break-all;
    margin-right: $padding-settings;
  }

  .actions {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.record__button__started {
  border-radius: 7px;
}

.text__button {
  border-radius: 7px;
  display: flex;
  align-items: center;

  .text__button__title {
    display: table-cell;
    vertical-align: middle;
  }
}

.dialog {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .title {
    margin-top: 0;
  }

  .desc {
    position: relative;
    word-break: break-all;
    overflow-y: auto;
  }

  .actions {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .input {
    position: relative;
    padding: 0 1rem;
  }

  .label {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: small;
  }
}
