@import '../Global.module';

.wrapper {
  position: relative;
  flex-basis: 20%;
  height: 100%;

  .title {
    margin: 1rem 0;
    text-decoration: underline;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    position: fixed;
    top: 0;
    z-index: 107;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in;

    &.open {
      height: 100vh;
      transition: height 0.3s ease-out;
    }
  }
}

.users__item {
  position: relative;
  padding: 0 $user-item-padding;
  width: calc(100% - #{$user-item-padding} * 2);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6;
  @media (max-width: $mobile-width) {
    justify-content: space-around;
  }

  .actions {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
