@import '../Global.module';

.wrapper {
  position: relative;
  flex-basis: 30%;
  height: 100%;
  overflow-y: auto;

  &::after {
    content: '_____________________________________________________________________________________';
  }

  .title {
    margin: 1rem 0;
    text-decoration: underline;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    position: fixed;
    top: 0;
    z-index: 107;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in;
    overflow-y: auto;

    &.open {
      height: 100vh;
      transition: height 0.3s ease-out;
    }
  }
}

.users__actions {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.user {
  cursor: default;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .name {
    &.me {
      color: cyan;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: $text-shift;
  }
}

.users__item {
  position: relative;
  padding: 0 $user-item-padding;
  width: calc(100% - #{$user-item-padding} * 2);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6;
  @media (max-width: $mobile-width) {
    justify-content: space-between;
    margin-left: 10px;
  }

  .actions {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.button__procent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .text {
    position: relative;
  }

  @supports (-moz-appearance: none) {
    .text {
      margin-top: 5px;
    }
  }
}
