.wrapper {
  position: fixed;
  z-index: 200;
  top: 50px;
  right: 0;
  margin-top: 2rem;
  background-color: black;
}

.close__button {
  z-index: 130;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
}
