@import '../../Main';

$border-radius: 8px;

.wrapper {
  z-index: 101;
  position: fixed;
  bottom: calc((#{$button-width}) * -1);
  width: 300px;
  right: calc(#{$button-width} / 2 + 1rem);
  height: $button-width;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: $border-radius;
  box-shadow: -2px -2px $border-radius rgb(0 0 0 / 30%);
  font-size: large;
  transition: bottom 0.3s ease-in;

  @media (max-width: $mobile-width) {
    width: calc(100vw - #{$button-width} / 2);
    bottom: calc(100vh + #{$button-width});
    right: calc(#{$button-width} / 2);
  }

  &.open {
    bottom: calc(#{$button-width} / 2);
    transition: bottom 0.3s ease-out;
    @media (max-width: $mobile-width) {
      bottom: calc(100vh - #{$button-width} - #{$button-width} / 2);
    }
  }
}
