@import '../../Main';

$border-radius: 8px;
$height: 50px;

.wrapper {
  z-index: 101;
  position: fixed;
  bottom: calc(#{$height} * -1);
  width: 300px;
  right: 0;
  height: $height;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: $border-radius;
  box-shadow: -2px -2px $border-radius rgb(0 0 0 / 30%);
  font-size: large;
  transition: bottom 0.3s ease-in;

  @media (max-width: $mobile-width) {
    width: 100%;
    bottom: calc(100vh + #{$height});
  }

  &.open {
    bottom: 0;
    transition: bottom 0.3s ease-out;
    @media (max-width: $mobile-width) {
      bottom: calc(100vh - #{$height});
    }
  }
}
