/******************************************************************************************
 * Repository: https://github.com/kolserdav/uyem.git
 * File name: Global.scss
 * Author: Sergey Kolmiller
 * Email: <uyem.ru@gmail.com>
 * License: BSD-2-Clause
 * License text: Binary distributions of this software include WebRTC and other third-party libraries.
 * Copyright: kolserdav, All rights reserved (c)
 * Create Date: Tue Jun 21 2022 07:43:56 GMT+0700 (Krasnoyarsk Standard Time)
 ******************************************************************************************/
$container-width: 100vw;
$container-height: 100vh;
$container-max-width: 1200px;
$container-transition: 0.3s;
$icon-container-width: 40px;
