// Constants
$wrapper-width: 100vw;
$wrapper-height: 100vh;
$container-max-width: 1200px;
$container-transition: 0.3s;
$mobile-width: 720px;
$small-width: 360px;
$button-width: 40px;

// dependency ALERT_TRANSITION in packages/client/src/package/utils/constants.ts
$alert-transition: 0.3s;

// dependencies in packages/client/src/package/components/ui/IconButton.module.scss
$crown-padding: 10px;

// colors. It's for example, implements in Theme.ts
.colors {
  color: lightblue;
}
