/******************************************************************************************
 * Repository: https://github.com/kolserdav/uyem.git
 * File name: Main.scss
 * Author: Sergey Kolmiller
 * Email: <uyem.ru@gmail.com>
 * License: BSD-2-Clause
 * License text: Binary distributions of this software include 'wrtc' and other third-party libraries.
 * Copyright: kolserdav, All rights reserved (c)
 * Create Date: Tue Jun 21 2022 08:49:55 GMT+0700 (Krasnoyarsk Standard Time)
 ******************************************************************************************/
// Constants
$wrapper-width: 100vw;
$wrapper-height: 100vh;
$container-max-width: 1200px;
$container-transition: 0.3s;

// Colors. It's for example, implements in Theme.ts
$color-dark-paper: #36413e;
$color-dark-text: #5d5e60;
$color-dark-active: #8d8d92;
$color-light-paper: #fff;
$color-light-text: #d7d6d6;
$color-light-active: #beb2c8;
