// Constants
$wrapper-width: 100vw;
$wrapper-height: 100vh;
$container-max-width: 1200px;
$container-transition: 0.3s;
$mobile-width: 720px;

// Colors. It's for example, implements in Theme.ts
$color-dark-paper: #36413e;
$color-dark-text: #5d5e60;
$color-dark-active: #8d8d92;
$color-light-paper: #fff;
$color-light-text: #d7d6d6;
$color-light-active: #beb2c8;
