$color-dark-paper: #36413e;
$color-dark-text: #d7d6d6;
$color-dark-shadow: #beb2c8;
$color-light-paper: #fff;
$color-light-text: #5d5e60;
$color-light-shadow: #8d8d92;
$button-width: 40px;

.wrapper {
  &.dark {
    background-color: $color-dark-paper;
    color: $color-dark-text;
  }

  &.light {
    background-color: $color-light-paper;
    color: $color-light-text;
  }
}

.button {
  &.dark {
    background-color: $color-dark-shadow;
    color: $color-light-text;
  }

  &.light {
    background-color: $color-light-shadow;
    color: $color-dark-text;
  }

  cursor: pointer;
  border-radius: 50%;
  width: $button-width;
  height: $button-width;
  font-size: x-small;
  position: fixed;
  right: $button-width;
  bottom: $button-width;
  margin: auto;
  border: none;
}

.button__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
