@import '../../Main';

$border-radius: 8px;
$block-padding: 0.2rem;

.wrapper {
  opacity: 0;
  z-index: 101;
  position: fixed;
  bottom: calc((#{$button-width}) * -1 - 10px);
  min-width: 300px;
  right: calc(#{$button-width} / 2 + 1rem);
  min-height: $button-width;
  display: flex;
  padding: $block-padding;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  box-shadow: -2px -2px $border-radius rgb(0 0 0 / 30%);
  font-size: large;
  transition: all $alert-transition ease-in;

  .text {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    width: calc(100vw - #{$block-padding} - #{$block-padding} * 2);
    right: 0;
  }

  &.open {
    opacity: 1;
    bottom: calc(#{$button-width} / 2);
    transition: all $alert-transition ease-out;
  }
}
