@import '../../Main';

$border-radius: 8px;
$block-padding: 0.5rem;

.wrapper {
  z-index: 101;
  position: fixed;
  bottom: calc((#{$button-width}) * -1 - 10px);
  min-width: 300px;
  right: calc(#{$button-width} / 2 + 1rem);
  min-height: $button-width;
  display: flex;
  padding: $block-padding;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: $border-radius;
  box-shadow: -2px -2px $border-radius rgb(0 0 0 / 30%);
  font-size: large;
  transition: bottom $alert-transition ease-in;

  @media (max-width: $mobile-width) {
    width: calc(100vw - #{$block-padding} - #{$block-padding} * 2);
    bottom: calc(100vh + #{$button-width});
    right: 0;
  }

  &.open {
    bottom: calc(#{$button-width} / 2);
    transition: bottom $alert-transition ease-out;
    @media (max-width: $mobile-width) {
      bottom: calc(100vh - #{$button-width} - #{$button-width} / 2 - #{$block-padding} * 3);
    }
  }
}
