@import '../../Main';

.wrapper {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  // Dependency of Room.hooks.ts actions?.setAttribute('style', 'top: 40px; right: calc(1rem - 10px);');
  padding: $crown-padding;

  &:hover {
    background-color: rgb(0 0 0 / 20%);
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      background-color: inherit;
    }
  }
}
