// Constants
$wrapper-width: 100vw;
$wrapper-height: 100vh;
$container-max-width: 1200px;
$container-transition: 0.3s;
$mobile-width: 720px;
$button-width: 40px;

// colors. It's for example, implements in Theme.ts
.colors {
  color: lightblue;
}
